

@model KeedoApp.Models.Event


<div class="modal fade bs-example-modal-xl show" id="detailEvent" tabindex="-1" aria-labelledby="myExtraLargeModalLabel" style="display: block; padding-right: 16px;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">Extra large modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <hr />
            <div class="modal-body">

                <img src="@ViewBag.ImageUrl" />


                <label asp-for="IdEvenement" hidden="true"> @Model.IdEvenement</label>
                <hr style="color:red;" />
                <h3 class="mb-3">
                    <i class="uil-bookmark-full">
                        <span style="        color: #e83e8c;
        font-size: 20px;"><b>@Model.Title</b></span>
    </i>
</h3>
<p>
    <i class="uil uil-calendar-alt">
        <span>
            Start Date
            @Html.FormatValue("yyy-MM-dd", @Model.StartDate.ToString("yyy-MM-dd"))
        </span>
        <span>
            End Date
            <i class="uil uil-calendar-alt"></i>
            @Html.FormatValue("yyy-MM-dd", @Model.EndDate.ToString("yyy-MM-dd"))
        </span>
    </i>
    <br />
    <i class="uil-users-alt">

        <span>Number Early participants : @Model.NbrTicketEarlyParticipants </span>

    </i>
    <br />
    <i class="uil-dollar-alt">

        <span>Discount Percentage : @Model.DiscountPercentage % </span>

    </i>
    <br />
    <i class="uil-location-pin-alt">

        <span>Adress : @Model.Address </span>

    </i>


</p>

<p class="mb-0">
    @Model.Description
</p>



</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>




