

    <div class="card-body">

        <h4 class="card-title">History</h4>
        <p class="card-title-desc"></p>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#home1" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">Notifications Events</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#profile1" role="tab">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block">Donations</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#messages1" role="tab">
                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                    <span class="d-none d-sm-block">Participants</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#settings1" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                    <span class="d-none d-sm-block">other</span>
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content p-3 text-muted">
            <div class="tab-pane active" id="home1" role="tabpanel">
                @foreach (var item in @ViewBag.notifications)
                {
                    <div class="alert alert-border alert-border-primary alert-dismissible fade show" role="alert">
                        <i class="uil uil-calendar-alt text-primary font-size-16 me-2"></i>
                        <h3 class="toast-title">
                            @item.Subject
                        </h3>
                        <span class="text-capitalize" style="color:darkgreen;">@Html.FormatValue("yyy-MM-dd", @item.Date.ToString("yyy-MM-dd"))</span><br />
                        <span class="text-capitalize" style="color:darkgreen;">@Html.FormatValue("hh:mm:ss", @item.Time.ToString("hh:mm:ss"))</span><br />
                        <span class="text-capitalize" style="color:darkorange;">@item.Target</span><br />
                        <span class="text-capitalize" style="color:darkorange;">
                            @item.Status)
                        </span>

                        <p>
                            @item.Description
                        </p>

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>


                }

            </div>
            @ViewBag.error
            <div class="tab-pane" id="profile1" role="tabpanel">
                @foreach (var donation in @ViewBag.donations)
                {
                    <div class="alert alert-border alert-border-success alert-dismissible fade show" role="alert">
                        <i class="uil uil-dollar-alt text-primary font-size-16 me-2"></i>
                        <h3 class="toast-title">
                            Donation added by <span style="font-size:20px;font-family:Roboto;color:dodgerblue">@donation.User.Login </span>
                        </h3>
                        <span class="text-capitalize" style="color:darkgreen;">@donation.ContributionDate   </span><br />
                        <span class="text-capitalize" style="color:darkgreen;">@donation.Amount)</span><br />
                        <span class="text-capitalize" style="color:darkorange;">@donation.Eventt</span><br />

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                }
                <div class="tab-pane" id="messages1" role="tabpanel">
                    <p class="mb-0">
                        Etsy mixtape wayfarers, ethical wes anderson tofu before they
                        sold out mcsweeney's organic lomo retro fanny pack lo-fi
                        farm-to-table readymade. Messenger bag gentrify pitchfork
                        tattooed craft beer, iphone skateboard locavore carles etsy
                        salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
                        Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh
                        mi whatever gluten-free carles.
                    </p>
                </div>
                <div class="tab-pane" id="settings1" role="tabpanel">
                    <p class="mb-0">
                        Trust fund seitan letterpress, keytar raw denim keffiyeh etsy
                        art party before they sold out master cleanse gluten-free squid
                        scenester freegan cosby sweater. Fanny pack portland seitan DIY,
                        art party locavore wolf cliche high life echo park Austin. Cred
                        vinyl keffiyeh DIY salvia PBR, banh mi before they sold out
                        farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral,
                        mustache readymade keffiyeh craft.
                    </p>
                </div>
            </div>

        </div>





</table>
