<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from t.commonsupport.xyz/bebio/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Apr 2021 11:16:29 GMT -->
<head>
    <meta charset="utf-8">
    <title>Bebio - Kinder Garten HTML Template | Home Page 01</title>

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    @Html.Partial("~/Views/Shared/ClientTemplate/_Styles.cshtml");
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>
        @Html.Partial("~/Views/Shared/ClientTemplate/_Navbar.cshtml");
    <div class="container">
        @RenderBody()
    </div>
        


    </div>

    @Html.Partial("~/Views/Shared/ClientTemplate/_Scripts.cshtml");

    @RenderSection("scripts", required: false)
</body>