@model IEnumerable<KeedoApp.Models.Driver>
@{
    ViewBag.Title = "Driver";
}

<div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
        <h2 class="mb-0">Driver List</h2>
    </div>
</div>
<div class="col-md-4">
    <div>
        <button type="button" class="btn btn-success waves-effect waves-light mb-3"><i class="uil uil-file-alt me-1"></i>    @Html.ActionLink("Create New", "Create", null, new { id = "OT", style = "color: White" })</button>
    </div>
</div>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="float-end">
                <div class=" mb-3">


                    Search: <input type="text" name="SearchString" />
                    <input type="submit" value="Filter" />



                </div>
            </div>
        </div>
    </div>
</form>

<table class="table table-primary table-striped mb-0">
    <thead>
        <tr class="bg-transparent">
            <th>
                <div class="form-check text-center">
                    <input type="checkbox" class="form-check-input" id="invoicecheck">
                    <label class="form-check-label" for="invoicecheck"></label>
                </div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDriver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="form-check text-center">
                        <input type="checkbox" class="form-check-input" id="invoicecheck1">
                        <label class="form-check-label" for="invoicecheck1"></label>
                    </div>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IdDriver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a class="has-arrow waves-effect">
                        @Html.ActionLink("Details", "Details", new { IdDriver = item.IdDriver }) |<i class="uil-invoice"></i>
                    </a>

                    <a class="px-3 text-primary">@Html.ActionLink("Edit", "Edit", new { IdDriver = item.IdDriver }) |<i class="uil uil-pen font-size-18"> </i></a>
                    <a class="px-3 text-danger">@Html.ActionLink("Delete", "Delete", new { IdDriver = item.IdDriver })|<i class="uil uil-trash-alt font-size-18"></i></a>

                    <a class="has-arrow waves-effect">@Html.ActionLink("Affecter driver to Bus", "../bus/Create", new { idDriver = item.IdDriver })| <i class="uil-book-alt"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>

<br />


<div class="col-sm-6">
    <div class="float-sm-end">
        <ul class="pagination mb-sm-0">
            <li class="page-item disabled">
                <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
            </li>
            <li class="page-item active">
                <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item ">
                <a href="#" class="page-link">2</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">3</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
            </li>
        </ul>
    </div>
</div>