@model IEnumerable<tn.esprit.pi.entities.Claim>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    Claims :  <p>@ViewBag.Title</p>

</p>
<table class="table" style="margin-left:50px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdClaim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            The Claimant
        </th>
        <th>
           The Claimed
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdClaim)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Parent.Login)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Kindergarden.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedAt)
    </td>
    @if (item.UpdatedAt != null)
    {
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
    }
    else
    {

        <td>Not Updated yet</td>


    }
    @if (item.CheckedAt != null)
    {
        <td>
            @Html.DisplayFor(modelItem => item.CheckedAt)
        </td>
    }
    else
    {

        <td>Not Checked yet</td>


    }
<td>
    @Html.ActionLink("Edit", "Edit", new { id = item.IdClaim }) |
    @Html.ActionLink("ClaimProcessing", "ClaimProcessing", new { id = item.IdClaim }) |
    @Html.ActionLink("Details", "Details", new { id = item.IdClaim }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.IdClaim })
</td>
</tr>
}

</table>
