@model KeedoApp.Models.Bus

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdBus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdBus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeDep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeDep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponible)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<p>
    <button class="btn btn-success waves-effect waves-light" type="submit">
        <i class="uil uil-check me-2"></i> Delete
    </button>
    <button class="btn btn-danger"> <i class="uil uil-times me-1"></i> @Html.ActionLink("Back to List", "Bus", null, new { id = "OT", style = "color: White " })</button>

</p>
    }
</div>
