@model IEnumerable<KeedoApp.Models.User>

@{
    ViewBag.Title = "AfficherActivate";
}

<h2>AfficherActivate</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.birthdate)
        </th>
               
        
        <th></th>
    </tr>

    @foreach (var item in ViewBag.users)
    {
        <tr>
            <td>
                @item.birthdate
            </td>
           
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
