@model IEnumerable<KeedoApp.Models.Feedback>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdFeedback)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdFeedback)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedAt)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UpdatedAt)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.IdFeedback }) |
        @Html.ActionLink("Details", "Details", new { id = item.IdFeedback }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.IdFeedback })
    </td>
</tr>
}

</table>
