@model KeedoApp.Models.Kindergarden



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <a href="index.html" class="mb-5 d-block auth-logo">
                            <img src="assets/images/logo-dark.png" alt="" height="22" class="logo logo-dark">
                            <img src="assets/images/logo-light.png" alt="" height="22" class="logo logo-light">
                        </a>
                    </div>
                </div>
            </div>




            <div class="row align-items-center justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">

                        <div class="card-body p-4">

                            <div class="text-center mt-2">
                                <h3 class="text-primary">Add Kindergaten</h3>
                                <p class="text-muted">You can add a new kindergarten </p>
                            </div>
                            <div class="p-2 mt-4">
                                <form action="">

                                    <div class="mb-3">
                                        <label class="control-label col-md-5 "> Kindergaten Name</label>

                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                                        </div>



                                    </div>

                                    <div class="mb-3">
                                        <label class="control-label col-md-5 ">  Description</label>

                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                                        </div>



                                    </div>
                                    <div class="mb-3">
                                        <label class="control-label col-md-5 "> Kindergaten Location</label>

                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })

                                        </div>



                                    </div>


                                    <div class="mb-3">
                                        <label class="form-label" for="username">Director</label>
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.directorFk, null, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.directorFk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>







                                    <div class="form-actions no-color " style="margin-left:50%">
                                        <button type="submit" class="btn btn-success waves-effect waves-light">Save </button> |
                                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark waves-effect waves-light" })
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>

}

