@model KeedoApp.Models.Kindergarden



<div>
    <div class="container-fluid">

        <!-- start page title -->
        <!-- end page title -->

        <div class="row">

            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h3 class="mb-0  text-primary">Kindergarten Detail</h3>
                        <div class="invoice-title">

                            @if (ViewBag.review == true)
                            {


                                <h4 class="float-end font-size-16"> <span class="badge bg-success font-size-12 ms-2">Recommended</span></h4>

                            }
                            else
                            {
                                <h4 class="float-end font-size-16"> <span class="badge bg-danger font-size-12 ms-2">Not Recommended</span></h4>

                            }
                            <div class="mb-4">
                                <img src="~/FrontEnd/assets/images/kinder.jpg" alt="logo" height="100" />
                            </div>
                            <div class="text-muted">
                                <p class="mb-1"><i class="uil uil-map me-1"></i> @Html.DisplayFor(model => model.Location)</p>
                                <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> @Html.DisplayFor(model => model.Director.Mail)</p>
                                <p><i class="uil uil-phone me-1"></i>  @Html.DisplayFor(model => model.Director.TelNum)</p>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="row">
                            <div class="col-sm-6">
                                <div>

                                    <h5 class="font-size-16 ">Kindergarten Name :</h5>
                                    <p>@Html.DisplayFor(model => model.Name)</p>



                                    <h5 class="font-size-16 ">Kindergarten Responsable :</h5>
                                    <p>@Html.DisplayFor(model => model.Director.Login)</p>

                                    <h5 class="font-size-16 ">Number of kids:</h5>


                                    <p>@ViewBag.kids</p>

                                    <h5 class="font-size-16 ">Number of classes:</h5>


                                    <p>@ViewBag.daycares</p>

                                    <h5 class="font-size-16 ">Kindergarten Location :</h5>
                                    <p>@Html.DisplayFor(model => model.Location)</p>




                                    <h5 class="font-size-16 ">Added to Keedo at :</h5>
                                    <p>@Html.DisplayFor(model => model.CreatedAt)</p>









                                </div>



                            </div>



                        </div>





                        <div id="piechart"></div>




                        <p style="margin-left:50%">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success waves-effect waves-light" }) |
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark waves-effect waves-light" })
                        </p>


                    </div>

                </div>



            </div>
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // Load google charts
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],

            ['Kids',@ViewBag.kids],
            ['Daycares', @ViewBag.daycares]

        ]);

        // Optional; add a title and set the width and height of the chart
        var options = { 'title': 'Kindergarten Statistics', 'width': 550, 'height': 400 };

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>