@model IEnumerable<KeedoApp.Models.Kindergarden>



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h3 class="text-primary">Latest Kindergartens</h3>
                @Html.ActionLink("Add Kindergarten", "Create", null, new { @class = "btn btn-success waves-effect waves-light", @style = "margin-left:85%" })

                <form method="post" action="">


                    <input type="text" name="search" class="form-control" />
                </form>
                </br> </br>
                </br>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0">
                        <thead class="table-light">


                            <tr>
                                <th style="width: 20px;">
                                    <div class="form-check font-size-16">
                                        <input type="checkbox" class="form-check-input" id="customCheck1">
                                        <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th>Claim ID</th>
                                <th>Kindergaden Name</th>
                                <th>Director Name</th>
                                <th>Kindergarten Location</th>
                                <th>Created At</th>
                                <th>Updated At</th>

                                <th>Action</th>
                            </tr>


                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="form-check font-size-16">
                                            <input type="checkbox" class="form-check-input" id="customCheck2">
                                            <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td><a href="javascript: void(0);" class="text-body fw-bold"></a>   @Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>  @Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Director.Login)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Location)
                                    </td>



                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedAt)
                                    </td>
                                    @if (item.UpdatedAt != null)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdatedAt)
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            Not Updated Yet
                                        </td>
                                    }

                                    <td>

                                        <!-- Button trigger modal -->


                                        <i class="uil uil-pen font-size-18 text-primary" onclick="location.href = '@(Url.Action("Edit", new { id = item.Id }))'"> </i>
                                        <i class="uil uil-eye font-size-18 text-dark" onclick="location.href = '@(Url.Action("Details", new { id = item.Id }))'"> </i>

                                        <i class="uil uil-trash font-size-18 text-danger" onclick="location.href = '@(Url.Action("Delete", new { id = item.Id }))'"> </i>

                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <!-- end table-responsive -->
            </div>
        </div>
    </div>
</div>
<!-- end row -->
